{% extends "base.html" %}

{% block title %}
    <title>Login Form</title>
{% endblock title %}
  
{% block content %}
<div class="container-fluid mt-5">
    <div class="card login-card shadow-sm">
        <div class="card-header bg-white border-0 pt-4">
            <h3 class="text-center fw-bold">Login</h3>
        </div>
            
        <div class="card-body px-4">
            <form action="" method="post" novalidate>
            {% csrf_token %}

            {% for field in form %}
            <div class="mb-2">
                <label class="form-label small fw-bold">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="text-danger"> {{error}} </p>
                        {% endfor %}
                    {% endif %}
            </div>
            {% endfor %}
        </div>
            
          
    </div>    
        
            <div class="d-grid gap-2 mt-4">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
    
        </form>
        
</div>
    
    <div class="card-footer text-center">
      <small>Create new an account? <a href="{% url 'register-user' %}">Signup here</a></small>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


{% endblock content %}
    