{% extends "base.html" %}

{% block title %}
    <title>Employee List</title>
{% endblock title %}


{% block content %}
<h1>Employee List</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary text-center" role="alert" style="border-radius: 12px;">
                <strong class="text-dark">
                    {{message}}
                </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container-fluid mt-5">
        <table class="table table-striped table-hover table-bordered text-center align-middle">
            <thead>
                <tr>
                    <th class="py-3">Sr No.</th>
                    <th class="py-3">Employee Name</th>
                    <th class="py-3">Employee Email</th>
                    <th class="py-3">Employee Mobile</th>
                    <th class="py-3">Employee Department</th>
                    <th class="py-3">Action</th>
                </tr>
            </thead>

            <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td class="fw-bold">{{employee.name}}</td>
                    <td class="fw-bold">{{employee.email}}</td>
                    <td class="fw-bold">{{employee.mobile}}</td>
                    <td class="fw-bold">{{employee.department.name}}</td>
                    <td>
                        <a href="{% url 'edit-employee' employee.pk  %}">
                            <button class="btn btn-outline-primary">Edit</button>
                        </a>
                        
                        <a href=" {% url 'delete-employee' employee.pk %} ">
                            <button class="btn btn-outline-danger">Delete</button>
                        </a>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                {% if employees.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ employees.previous_page_number }}">Previous</a></li>
                {% endif %}

                {% for num in employees.paginator.page_range %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}

                {% if employees.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ employees.next_page_number }}"> next </a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div>    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>



{% endblock content %}

    
    